


.boost-section {
    min-height: 300px;
    width: 375px;
    min-width: 100%;
    background-color: #34313D;
    color:  #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;

    .boost-info {
        display: grid;
        place-items: center;
    }

    h1 {
        font-size: 28px;
        font-weight: bold;
        padding-bottom: 15px;

    }

    .boost-btn {
        height: 56px;
        width: 197px;
        background-color: #2BD0D0;
        border-radius: 5rem;
        border: none;
        font-size: 20px;
        font-weight: bold;
        color: #FFFFFF;
        margin-top: 20px;

        &:hover {
            background-color: allColors(btnHoverClr);
        }    
    }

}