$breakpoints:(
$ipad-view: 760px,
$mobile: 760px,
$destop-view: 960px
);

@mixin Ipad {
    @media (min-width: map-get($breakpoints, $ipad-view)) {
        @content;
    }
}

@mixin Desktop {
    @media (min-width: map-get($breakpoints, $destop-view)) {
        @content;
    }
}

@mixin mobile{
        @media (max-width:map-get($breakpoints, $mobile)) {
            @content;
        }
}

