
@import "./variables";


$mobile: 375px;
@mixin mobile{
    @media (max-width: #{$mobile}) {
        @content;
    }
}
header {
    min-height: 40px;
    min-width: 1108px;
    max-width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;

        .logo {
            margin-top: 2em;
            height: 45px;
            width: 121px;
        }
    .logo img {
        height: 45px;
        width: 121px;
        object-fit: contain;
    }
    .menu {
        display: none;
        @include mobile {
            display: flex;
        }
    }


    nav {
        max-height: 40px;
        max-width: 800px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        column-gap: 30em;
        align-items: center;

    }

    .nav-links {
        display: flex;
        column-gap: 30px;
        align-items: center;
    }

    .nav-links a {
        color: #9E9AA8;
        font-size: 15px;
        font-weight: bold;

        &:hover {
            color: #34313D;
        }
    }

    .header-btns {
        display: flex;
        column-gap: 25px;
        align-items: center;
    }


.header-btns button {
    height: 40px;
    width: 105px;
    background-color: #2BD0D0;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    border: none;
    max-width: 100%;
    border-radius: 5rem;
    &:hover {
        background-color: #9AE3E3;
    }

    @include mobile() {
        height: 48px;
        width: 279px;
        font-size: 18px;
    }
}

.header-btns a {
    color: #9E9AA8;
    font-size: 15px;
    font-weight: bold;
}

}