
@import "./variables";


$mobile: 1677px;
$mobile-md: 1120px;
$mobile-thrid: 1063px;
$mobile-sm: 1023px;
@mixin mobile{
    @media (max-width: #{$mobile}) {
        @content;
    }
}

@mixin mobileMd {
    @media (max-width: #{$mobile-md}) {
        @content;
    }
}
@mixin mobile-view-3 {
    @media (max-width: #{$mobile-thrid}) {
        @content;
    }
}
@mixin Mobile-sm {
    @media (max-width: #{$mobile-sm}) {
        @content;
    }
}




header {
    min-height: 40px;
    width: 1108px;
    max-width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
 
        .logo {
            margin-top: 2em;
            height: 45px;
            width: 121px;
        }
    .logo img {
        height: 45px;
        width: 121px;
        object-fit: contain;
    }
    .menu {
        display: none;
        height: 45px;
        width: 45px;
        cursor: pointer;
        @include Mobile-sm {
            display: block;
        }
    }



    nav {
        max-height: 40px;
        max-width: 600px;
        @include Mobile-sm {
            display: none;
        }

        // @include Mobile-sm {
        //     display: grid;
        //     justify-content: center;
        //     place-items: center;
        // }
    }

    .show {
        display: block;
    }

    ul {
        display: flex;
        justify-content: space-between;
        column-gap: 30em;
        align-items: center;
        padding-right: 4em;
        @include mobile {
            column-gap: 22em;
        }

        @include mobileMd {
            column-gap: 14em;
        }

        @include mobile-view-3 {
            column-gap: 5em;
        }

        @include Mobile-sm {
            background-color:#3A3054;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 6em;
            right: 4em;
            height: 383px;
            min-width: 327px;
            border-radius: 10px;
            text-align: center;
            padding-right: 0;

        }
    
    }

    .nav-links {
        display: flex;
        column-gap: 30px;
        align-items: center;
        @include Mobile-sm {
            flex-direction: column;
            row-gap: 1em;
            justify-content: center;
            align-items: center;
            
        }
    }

    .nav-links a {
        color: #9E9AA8;
        font-size: 15px;
        font-weight: bold;

        &:hover {
            color: #34313D;
        }

        @include Mobile-sm {
            font-size: 18px;
            color: #FFFFFF;

            &:hover {
                color: #9E9AA8;
            }
        }
    }

    .header-btns {
        display: flex;
        column-gap: 25px;
        align-items: center;

        @include Mobile-sm {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 20px;
            margin-top: 2em;
            text-align: center;
            color: #FFFFFF;
            font-size: 18px;
            border-top: 1px solid #9E9AA8;
            padding-top: 1em;
        }
       
    }


.header-btns button {
    height: 40px;
    width: 105px;
    background-color: #2BD0D0;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    border: none;
    max-width: 100%;
    border-radius: 5rem;
    &:hover {
        background-color: #9AE3E3;
    }

    @include Mobile-sm {
        color: #FFFFFF;
        font-size: 18px;
        height: 48px;
        width: 279px;
        border-radius: 28px;
        font-weight: bold;
    }

}

.header-btns a {
    color: #9E9AA8;
    font-size: 15px;
    font-weight: bold;

    @include Mobile-sm {
        color: #FFFFFF;
        font-size: 18px;
    }
}



}


