
@import "./variables";

@mixin items {
    height: 284px;
    max-width: 327px;
    border-radius: 5px;
    padding: 0 20px;
    @include Desktop {
        height: 311px;
        min-width: 350px;
    }
}


$destop-view: 1200px;

@mixin Desktop {
    @media (min-width: #{$destop-view}) {
        @content;
    }
}



.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 80px;
    margin-bottom: 2em;

    @include Desktop {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 2rem;
    }
}




.item-one {
    @include items();
    background: #FFFFFF;

    @include Desktop {
        margin-bottom: 6rem;
    }
}

.item-two,
.item-three {
    @include items();
    background-color: #FFFFFF;
}
.item-one,
.item-two,
.item-three {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.item-three {
    @include Desktop {
        margin-top: 4.5em;
    }
}



.statis-logo {
    display: grid;
    place-items: center;
    height: 80px;
    width: 80px;
    background-color: #3A3054;
    padding: 20px;
    border-radius: 50%;
    margin-top: -7em;

    @include Desktop {
        align-self: flex-start;
    }

}

.statis-logo img {
    height: 40px;
    width: 40px;
}


.statistic-text {
    text-align: center;
    min-height: 148px;
    max-width: 327px;
    margin: 5em;
    @include Desktop {
        min-height: 130px;
        min-width: 540px;
    }
}

.statistic-text h1 {
    font-size: 28px;
    font-weight: bold;
    color: allColors(TitleClr);
    padding: 20px 0 15px 0;
    @include Desktop {
        font-size: 40px;
    }
   
}

.statistic-text p {
    font-size: 15px;
    color:  #9E9AA8;
    max-width: 540px;
    padding: 0 8px;

    @include Desktop {
        font-size: 18px;
    }
}
.statistic-section {
   min-height: 1242px;
    min-width: 100%;
    max-width: 327px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #EFF1F7;

    @include Desktop {
        min-height: 700px;
    }


}



.stat-info {
    text-align: center;
    @include Desktop {
        text-align: left;
    }
    h3 {
        color: allColors(TitleClr);
        padding: 15px 0;
        font-size: 22px;
        font-weight: bold;
        @include Desktop {
            font-size: 22px;
        }
    }

    p {
        font-size: 15px;
        color: #9E9AA8;
       
    }
}
