@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
footer {
  min-height: 776px;
  width: 100%;
  min-width: 375px;
  background-color: #232127;
  display: grid;
  grid-template-columns: 100%;
  place-items: center;
  color: white;
  row-gap: 2em;
}
@media (min-width: 760px) {
  footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 960px) {
  footer {
    min-height: 310px;
    grid-template-columns: repeat(5, 1fr);
  }
}

img {
  max-width: 100%;
  height: 35px;
  width: 35px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

img svg:hover {
  color: #2BD0D0;
}

.features,
.resources,
.company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5em;
  row-gap: 20px;
}

.socail-media {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  padding-bottom: 20px;
}

.logo {
  margin-bottom: 2em;
  height: 80px;
  width: 80px;
  display: grid;
  place-content: center;
}

.features,
.resources,
.company li {
  color: #BFBFBF;
  line-height: 1;
  padding-bottom: 5px;
  font-size: 15px;
}

footer li {
  cursor: pointer;
}
footer li:hover {
  color: #2BD0D0;
}

.title {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 20px;
}

.big-title {
  text-align: center;
  font-size: 3rem;
  color: white;
  margin-top: 2em;
}
@media (min-width: 760px) {
  .big-title {
    margin-top: 0px;
  }
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 80px;
  margin-bottom: 2em;
}
@media (min-width: 1200px) {
  .grid-container {
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}

.item-one {
  height: 284px;
  max-width: 327px;
  border-radius: 5px;
  padding: 0 20px;
  background: #FFFFFF;
}
@media (min-width: 1200px) {
  .item-one {
    height: 311px;
    min-width: 350px;
  }
}
@media (min-width: 1200px) {
  .item-one {
    margin-bottom: 6rem;
  }
}

.item-two,
.item-three {
  height: 284px;
  max-width: 327px;
  border-radius: 5px;
  padding: 0 20px;
  background-color: #FFFFFF;
}
@media (min-width: 1200px) {
  .item-two,
  .item-three {
    height: 311px;
    min-width: 350px;
  }
}

.item-one,
.item-two,
.item-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1200px) {
  .item-three {
    margin-top: 4.5em;
  }
}

.statis-logo {
  display: grid;
  place-items: center;
  height: 80px;
  width: 80px;
  background-color: #3A3054;
  padding: 20px;
  border-radius: 50%;
  margin-top: -7em;
}
@media (min-width: 1200px) {
  .statis-logo {
    align-self: flex-start;
  }
}

.statis-logo img {
  height: 40px;
  width: 40px;
}

.statistic-text {
  text-align: center;
  min-height: 148px;
  max-width: 327px;
  margin: 5em;
}
@media (min-width: 1200px) {
  .statistic-text {
    min-height: 130px;
    min-width: 540px;
  }
}

.statistic-text h1 {
  font-size: 28px;
  font-weight: bold;
  color: allColors(TitleClr);
  padding: 20px 0 15px 0;
}
@media (min-width: 1200px) {
  .statistic-text h1 {
    font-size: 40px;
  }
}

.statistic-text p {
  font-size: 15px;
  color: #9E9AA8;
  max-width: 540px;
  padding: 0 8px;
}
@media (min-width: 1200px) {
  .statistic-text p {
    font-size: 18px;
  }
}

.statistic-section {
  min-height: 1242px;
  min-width: 100%;
  max-width: 327px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #EFF1F7;
}
@media (min-width: 1200px) {
  .statistic-section {
    min-height: 700px;
  }
}

.stat-info {
  text-align: center;
}
@media (min-width: 1200px) {
  .stat-info {
    text-align: left;
  }
}
.stat-info h3 {
  color: allColors(TitleClr);
  padding: 15px 0;
  font-size: 22px;
  font-weight: bold;
}
@media (min-width: 1200px) {
  .stat-info h3 {
    font-size: 22px;
  }
}
.stat-info p {
  font-size: 15px;
  color: #9E9AA8;
}

.boost-section {
  min-height: 300px;
  width: 375px;
  min-width: 100%;
  background-color: #34313D;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boost-section .boost-info {
  display: grid;
  place-items: center;
}
.boost-section h1 {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 15px;
}
.boost-section .boost-btn {
  height: 56px;
  width: 197px;
  background-color: #2BD0D0;
  border-radius: 5rem;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  margin-top: 20px;
}
.boost-section .boost-btn:hover {
  background-color: allColors(btnHoverClr);
}

.share-link {
  min-height: 600px;
  min-width: 327px;
  width: 100%;
  background-color: #EFF1F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 75px;
}

.input-section {
  min-height: 182px;
  width: 327px;
  background-color: #3A3054;
  border-radius: 10px;
  display: grid;
  place-items: center;
  padding: 10px 0;
}
@media (min-width: 1173px) {
  .input-section {
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 15px;
         column-gap: 15px;
    min-height: 168px;
    min-width: 1110px;
  }
}
.input-section .inputBtn {
  height: 48px;
  width: 278px;
  background-color: #2BD0D0;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.input-section .inputBtn:hover {
  background-color: #9AE3E3;
}
@media (min-width: 1173px) {
  .input-section .inputBtn {
    min-height: 64px;
    max-width: 188px;
    font-size: 20px;
  }
}

.searchBox {
  margin-top: 20px;
  display: grid;
  height: 48px;
  width: 279px;
  place-items: right;
  border-radius: 5px;
  background-color: #ffffff;
}
@media (min-width: 1173px) {
  .searchBox {
    min-height: 64px;
    min-width: 769px;
    margin-top: 0;
  }
}
.searchBox input {
  padding-left: 15px;
  outline: none;
  font-size: 16px;
  color: #34313D;
  font-weight: medium;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
@media (min-width: 1173px) {
  .searchBox input {
    font-size: 20px;
  }
}

.error-txt {
  font-size: 12px;
  font-style: italic;
  color: #F46363;
  padding-top: 4px;
  display: none;
}

.input-error {
  border: 1px solid #F46363;
}

.inputLinks {
  margin-top: 25px;
  min-height: 155px;
  min-width: 327px;
  display: grid;
  place-items: center;
  border-radius: 5px;
  background-color: #ffffff;
}
@media (min-width: 1173px) {
  .inputLinks {
    padding: 0 25px;
    min-height: 72px;
    min-width: 1110px;
    display: flex;
    justify-content: space-between;
  }
}
.inputLinks p a {
  color: #34313D;
  font-size: 17px;
  padding-bottom: 15px;
  border-bottom: 1px solid #979797;
}
@media (min-width: 1173px) {
  .inputLinks p a {
    border: none;
    font-size: 20px;
  }
}
.inputLinks .link-container {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
@media (min-width: 1173px) {
  .inputLinks .link-container {
    flex-direction: row;
    -moz-column-gap: 10px;
         column-gap: 10px;
    align-items: center;
  }
}
.inputLinks li {
  list-style-type: none;
}
.inputLinks li a {
  color: #2BD0D0;
  font-size: 17px;
}
@media (min-width: 1173px) {
  .inputLinks li a {
    font-size: 20px;
  }
}
.inputLinks .linkBtn {
  height: 36px;
  min-width: 177px;
  background-color: #2BD0D0;
  color: #ffffff;
  font-size: 16px;
  border: none;
  max-width: 100%;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 5px;
}
.inputLinks .linkBtn:hover {
  background-color: #9AE3E3;
}
.inputLinks .linkBtn:active {
  background-color: #3A3054;
}
@media (min-width: 1173px) {
  .inputLinks .linkBtn {
    min-height: 40px;
    min-width: 103px;
  }
}

.hero-section {
  min-height: 927px;
  min-width: 100%;
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  place-items: center;
  grid-template-areas: " heroImage" "text";
}
@media (min-width: 1024px) {
  .hero-section {
    grid-template-columns: repeat(2, minmax(400px, 550px));
    grid-template-areas: "text  heroImage ";
    align-items: flex-start;
  }
}
@media (min-width: 1600px) {
  .hero-section {
    min-height: 650px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: " text  heroImage";
    align-items: flex-start;
  }
}
.hero-section .hero-btn {
  height: 56px;
  width: 197px;
  background-color: #2BD0D0;
  border-radius: 5rem;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  margin-top: 20px;
}
.hero-section .hero-btn:hover {
  background-color: #9AE3E3;
}
.hero-section .hero-img img {
  order: 1;
  height: 337px;
  width: 460px;
}
@media (min-width: 1024px) {
  .hero-section .hero-img img {
    min-height: 400px;
    min-width: 550px;
  }
}
@media (min-width: 1600px) {
  .hero-section .hero-img img {
    min-height: 482px;
    min-width: 733px;
  }
}
.hero-section .hero-img {
  grid-area: heroImage;
}
.hero-section .hero-text {
  grid-area: text;
  height: 290px;
  width: 327px;
  text-align: center;
}
@media (min-width: 1024px) {
  .hero-section .hero-text {
    min-height: 351px;
    width: 400px;
    text-align: left;
  }
}
@media (min-width: 1600px) {
  .hero-section .hero-text {
    min-height: 351px;
    width: 564px;
    text-align: left;
  }
}
.hero-section .hero-title {
  font-size: 42px;
  font-weight: bold;
  color: #34313D;
  line-height: 1;
}
@media (min-width: 1024px) {
  .hero-section .hero-title {
    font-size: 65px;
    max-width: 564px;
  }
}
@media (min-width: 1600px) {
  .hero-section .hero-title {
    font-size: 80px;
    max-width: 564px;
  }
}
.hero-section .hero-text p {
  font-size: 18px;
  color: #9E9AA8;
  max-width: 327px;
  padding-top: 10px;
  text-align: center;
  max-width: 540px;
}
@media (min-width: 1024px) {
  .hero-section .hero-text p {
    text-align: left;
  }
}
@media (min-width: 1600px) {
  .hero-section .hero-text p {
    max-width: 540px;
    text-align: left;
  }
}

header {
  min-height: 40px;
  width: 1108px;
  max-width: 100%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em;
}
header .logo {
  margin-top: 2em;
  height: 45px;
  width: 121px;
}
header .logo img {
  height: 45px;
  width: 121px;
  -o-object-fit: contain;
     object-fit: contain;
}
header .menu {
  display: none;
  height: 45px;
  width: 45px;
  cursor: pointer;
}
@media (max-width: 1023px) {
  header .menu {
    display: block;
  }
}
header nav {
  max-height: 40px;
  max-width: 600px;
}
@media (max-width: 1023px) {
  header nav {
    display: none;
  }
}
header ul {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30em;
       column-gap: 30em;
  align-items: center;
  padding-right: 4em;
}
@media (max-width: 1677px) {
  header ul {
    -moz-column-gap: 22em;
         column-gap: 22em;
  }
}
@media (max-width: 1120px) {
  header ul {
    -moz-column-gap: 14em;
         column-gap: 14em;
  }
}
@media (max-width: 1063px) {
  header ul {
    -moz-column-gap: 5em;
         column-gap: 5em;
  }
}
header .nav-links {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
}
header .nav-links a {
  color: #9E9AA8;
  font-size: 15px;
  font-weight: bold;
}
header .nav-links a:hover {
  color: #34313D;
}
header .header-btns {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
  align-items: center;
}
header .header-btns button {
  height: 40px;
  width: 105px;
  background-color: #2BD0D0;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  border: none;
  max-width: 100%;
  border-radius: 5rem;
}
header .header-btns button:hover {
  background-color: #9AE3E3;
}
header .header-btns a {
  color: #9E9AA8;
  font-size: 15px;
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.container {
  min-height: 100vh;
  width: 100%;
  background-color: #9E9AA8;
}

.search-input {
  display: flex;
  row-gap: 4sepx;
  flex-direction: column;
  padding: 6px 0;
}

.shorten-btn {
  height: 48px;
  width: 278px;
  background-color: #2BD0D0;
  border-radius: 5px;
  border: none;
  color: #EFF1F7;
  font-size: 18px;
  font-weight: bold;
  z-index: 3;
}
.shorten-btn:hover {
  background-color: #9AE3E3;
}

.copy-btn {
  height: 48px;
  width: 278px;
  background-color: #2BD0D0;
  border-radius: 5px;
  border: none;
  color: #EFF1F7;
  height: 40px;
  width: 295px;
  cursor: pointer;
  background-color: #2BD0D0;
}
.copy-btn:hover {
  background-color: #9AE3E3;
}
.copy-btn:active {
  background-color: #34313D;
}

.invalid-text {
  color: #F46363;
  opacity: 0;
  font-size: 10px;
  font-style: italic;
}

.user-input {
  height: 180px;
  width: 327px;
  background-color: #34313D;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex a {
  color: #2BD0D0;
  padding: 5px 0;
}

.links {
  min-height: 155px;
  width: 327px;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin-top: 1em;
}
.links li {
  border-bottom: 1px solid #EFF1F7;
  padding: 5px 0;
}
.links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.links .flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.red-border {
  border: 1px solid #F46363;
}

.link-section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  background-color: #9E9AA8;
}

.searchBox {
  background-color: #FFFFFF;
  height: 48px;
  width: 279px;
  border: none;
  border-radius: 5px;
  outline: none;
}/*# sourceMappingURL=style.css.map */