@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

$ColorPalette: (
    ButtonClr: #2BD0D0,
    TitleClr: #34313D,
    smallTxtClr: #9E9AA8,
    btnHoverClr: #9AE3E3,
    BgClr: #EFF1F7,
    ErrorClr: #F46363,
    linkClr: #2BD0D0,
    BgWhite: #EFF1F7,
    GreyClr: #9E9AA8,
    FooterBgClr: #232127
);


@function allColors($color-name) {
    @return map-get($ColorPalette, $color-name)
};

@mixin Button {
    height: 48px;
    width: 278px;
    background-color: allColors(ButtonClr);
    border-radius: 5px;
    border: none;
    color: allColors(BgWhite);
}

.shorten-btn {
    @include Button();
    font-size: 18px;
    font-weight: bold;
    z-index: 3;
}

.copy-btn {
    @include Button();
    height: 40px;
    width: 295px;
}

.invalid-text {
    color: allColors(ErrorClr);
}

.user-input {
    height: 160px;
    min-height: 327px;
    background-color: allColors(TitleClr);
    z-index: 3; 

    picture img {
        position: absolute;
        z-index: -1;
    }

}

.flex a {
    color: allColors(linkClr);
}






